asgiref==3.6.0
colorama==0.4.6
Django==4.2.1
django-environ==0.10.0
django-neomodel==0.0.7
djangorestframework==3.14.0
Faker==18.11.2
gensim==4.3.1
joblib==1.3.1
neo4j-driver==4.4.10
neobolt==1.7.17
neomodel==5.0.0
networkx==2.8.8
node2vec==0.4.6
numpy==1.25.0
python-dateutil==2.8.2
pytz==2023.3
scikit-learn==1.3.0
scipy==1.11.1
six==1.16.0
smart-open==6.3.0
sqlparse==0.4.4
threadpoolctl==3.1.0
tqdm==4.65.0
tzdata==2023.3
